* {
  font-family: "PT Sans", sans-serif;
}

.bg-navbar {
  background-color: #423e37;
}
.navbar a,
.active {
  color: #ffa128 !important;
}
.active {
  font-weight: bold;
  border-bottom: 2px solid;
}
.nav-link:hover {
  border-bottom: 2px solid;
}
/* carousel  */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}
